        body {
            text-align: center;
            font-family: Arial, sans-serif;
            background-color:black;
        }
        .dice-container {
            display: flex;
            justify-content: center;
            column-gap: 50px;
            margin-top: 20px;
        }
        h1{
            margin:100px 0px 0px 20px;
            font-size: 3rem;
            color:plum;
        }
        button{
            width:200px;
            height:50px;
            
            font-size: 2rem;
            border-radius: 50px;
            margin:10px 0px 0px 0px;
            cursor: pointer;
        }
        .dice {
            font-size: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #rolling {
            animation: spin 0.2s 2 linear;
        }
        @keyframes spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }
        #result {
            font-size: 1.5em;
            margin-top: 50px;
            font-weight: bold;
            color:plum;
        }
        #dice1,#dice2{
            width:150px;
            height:150px;
            background:linear-gradient(whitesmoke,plum);
            border-radius: 50%;
            border:1px solid plum;
            box-shadow: 5px 5px 5px plum;
            outline: none;
        }